@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,300&display=swap');
body {
  font-family: 'roboto';
  margin: 0;
}
html {
  box-sizing: border-box;
}
h1
{
 text-align: center;
 color:rgb(255, 255, 255);
 font-family:'Roboto';
 padding-top: 25px;
 font-weight: bolder;
}
.about
{
  font-family:Arial, Helvetica, sans-serif;
  text-align: center;
  background-color:rgb(25, 5, 5);
margin-top: -15px ;
height: 200px;
margin-left: 8px;
margin-right: 8px;
}
.about_exp
{
  color: rgb(219, 219, 219);
  font-size: auto;

    text-align: center;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: lighter;
   
}

h2
{
  
  text-align: center;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: bold;

}
.imageone
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 450px;
  border-radius: 80%;

  
}
.imagetwo
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 30%;
  height: 450px;
 border-radius: 80%;


  
}
.founder_info
{
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: -5px;
  
}
.linktree
 { margin-left: auto;
    margin-right: auto;
  display: block;
  align-items: center;
  margin-top: 0px;
  height: 80px;
  width: 80px;
  margin-top: -25px;
  padding-bottom: 45px;
  
  
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: -100px; /* Position them outside of the screen */
  transition: 1.0s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 100px; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: rgb(9, 6, 6); /* White text color */
  border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */
  font-weight: bolder;
  font-family: 'Roboto';

}
#mySidenav a:hover {
  left: 0; /* On mouse-over, make the elements appear as they should */
}
#about {
  top: 20px;
  background-color:bisque;

  
  
}

#blog {
  top: 80px;
  background-color:bisque; /* Blue */
  
}

#projects {
  top: 140px;
  background-color:bisque;/* Red */
}


.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -5px;
  padding-bottom: 8px;
}

.buttonone
{
  
  background-color: #000;
 /* border: -13px solid crimson;*/
  border-radius: 10px;
  color: #fff;
  padding: 4px;
  font-family:Arial, Helvetica, sans-serif;
  font-weight: semi-bolder;
 /* box-shadow: 0 0 30px 0 crimson,
  0 0 30px 0 crimson,
  0 0 10px 0 crimson inset;
  display: flex;
  text-decoration: none;
  */
}
.buttondec
{ 
  text-decoration: none;
  text-shadow: none;
  text-decoration-line: none;
}

.icon-bar {
  position:absolute;
  top: 110%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* Style the icon bar links */
.icon-bar a {
  display: block;
  text-align: center;
  padding: 26px;
  transition: all 0.3s ease;
  color: white;
  font-size: 20px;
}

/* Style the social media icons with color, if you want */
.icon-bar a:hover {
  background-color: #000;
}

.facebook {
  background: #3B5998;
  color: white;
}

.twitter {
  background: #55ACEE;
  color: white;
}

.google {
  background: #dd4b39;
  color: white;
}

.linkedin {
  background: #007bb5;
  color: white;
}

.youtube {
  background: #bb0000;
  color: white;
}
.fa-instagram {
  background: #125688;
  color: white;
}


.contact-details {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background-color: #1d1d1d;
  margin-top: 50px;
  margin-bottom: 10px;
  height: 200px;
  margin-left: 8px;
  margin-right: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
}

.contact-details h2 {
  font-size: 24px;
  margin-bottom: 5px;
}

.contact-details p {
  font-size: 18px;
  margin-bottom: 10px;
}

.contact-details a {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}

.contact-details a:hover {
  text-decoration: underline;
}
.mail
{
  text-align: center;
  font-family: 'Roboto';
  margin-bottom: -5px;
  
}